  <section class="header-navbar">

    <b-navbar toggleable="sm" class="dark-navbar navbar-right">
      <b-navbar-toggle target="nav-text-collapse" class="navbar-toggler-icon"></b-navbar-toggle>

      <b-navbar-brand><img src="https://bahrainvacc.com/images/logo_white.png" class="logo" /></b-navbar-brand>

      <b-collapse id="nav-text-collapse" is-nav>
        <b-navbar-nav class="ml-auto" align="center">
          <b-nav-item>
            <router-link to="/">Home</router-link>
          </b-nav-item>
          <b-nav-item>
            <router-link to="/events">Events</router-link>
          </b-nav-item>
          <b-nav-item>
            <router-link to="/controllers">Controllers</router-link>
          </b-nav-item>
          <b-nav-item>
            <router-link to="/staff">Staff</router-link>
          </b-nav-item>
          <!-- <b-nav-item-dropdown text="Personnel">
            <b-dropdown-item>
              <router-link to="/controllers">Controllers</router-link>
            </b-dropdown-item>
            <b-dropdown-item>
              <router-link to="/controllers">Staff</router-link>
            </b-dropdown-item>
          </b-nav-item-dropdown> -->
          <b-nav-item>
            <router-link to="/policies">Policies</router-link>
          </b-nav-item>
          <b-nav-item href="https://training.bahrainvacc.com">
            Training
          </b-nav-item>
          <b-nav-item href="https://discord.bahrainvacc.com">
            Discord
          </b-nav-item>
          <b-nav-item href="https://hq.vatme.net">
            VATME HQ
          </b-nav-item>
          <b-nav-item>
            <router-link to="/test">Test</router-link>
          </b-nav-item>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
    <router-view />

  </section>