<section>

  <div class="body-inner">

    <!-- Header -->
    <header id="header" data-transparent="true" data-fullwidth="true" class="header-always-fixed dark">
      <div class="header-inner">
        <div class="container">
          <!--Logo-->
          <div id="logo">
            <a href="index.html" data-src-responsive="images/logo_transp_padding.png" class="logo">
              <img src="images/logo_white_padding.png" alt="Bahrain Logo">
            </a>
          </div>
          <!--End: Logo-->

          <!--Header Extras-->
          <div class="header-extras">
            <ul>
              <li>
                <!--overlay menu-->
                <a id="menu-overlay-trigger" href="#" class="lines-button x toggle-item" data-target="body"
                  data-class="menu-overlay-active">
                  <span class="lines"></span>
                </a>
                <!--end: overlay menu-->
              </li>
            </ul>
          </div>
          <!--end: Header Extras-->

          <!--Navigation-->
          <div id="mainMenu" class="menu-overlay menu-light menu-onclick">
            <div class="container">
              <nav>
                <ul>
                  <li><a href="index.html">Home</a></li>
                  <li><a href="https://hq.vatme.net">VATME HQ</a></li>
                  <!-- <li><a href="#">Controllers</a></li> -->
                  <li><a href="/policies.html">Policies</a></li>
                  <li><a href="https://training.bahrainvacc.com">Training</a></li>
                  <!-- <li><a href="#">Resources</a></li> -->
                  <li><a href="https://discord.bahrainvacc.com" target="_blank" rel="noopener noreferrer">Discord</a>
                  </li>

                </ul>
              </nav>
            </div>
          </div>
          <!--end: Navigation-->
        </div>
      </div>
    </header>
    <!-- end: Header -->

    <div id="slider" class="inspiro-slider" data-height-xs="360">

      <div class="slide" style="background-image:url('images/qtr320.png');">
        <div class="container">
          <div class="slide-captions">
            <div class="page-title text-center">
              <h1>Policies</h1>
            </div>
          </div>
        </div>
      </div>

    </div>


    <section class="text-light background-dark">
      <div class="container">
        <div>
          <h3>Policies</h3>
          <p>Click on the header to expand the section and reveal the PDF.</p>
          <div class="accordion toggle fancy radius clean accordion-theme">
            <div class="ac-item">
              <h5 class="ac-title">General Policy</h5>
              <div style="display: none;" class="ac-content"><iframe src="docs/policy/General Policy.pdf" width="100%"
                  height="1000px"></iframe></div>
            </div>
            <div class="ac-item">
              <h5 class="ac-title">Conduct Policy</h5>
              <div style="display: none;" class="ac-content"><iframe src="docs/policy/Conduct Policy.pdf" width="100%"
                  height="1000px"></iframe></div>
            </div>
            <div class="ac-item">
              <h5 class="ac-title">Controller Policy</h5>
              <div style="display: none;" class="ac-content"><iframe src="docs/policy/Controller Policy.pdf"
                  width="100%" height="1000px"></iframe></div>
            </div>
            <div class="ac-item">
              <h5 class="ac-title">Visiting Policy</h5>
              <div style="display: none;" class="ac-content"><iframe src="docs/policy/Visitor Policy.pdf" width="100%"
                  height="1000px"></iframe></div>
            </div>
            <div class="ac-item">
              <h5 class="ac-title">Privacy Policy</h5>
              <div style="display: none;" class="ac-content"><iframe src="docs/policy/privacy-policy.pdf" width="100%"
                  height="1000px"></iframe></div>
            </div>
          </div>
        </div>
        <div>
          <h3>Standard Operating Procedures</h3>
          <p>Click on the header to expand the section and reveal the PDF.</p>
          <div class="accordion toggle fancy radius clean accordion-theme">
            <div class="ac-item">
              <h5 class="ac-title">Hamad (OTHH) vMATS</h5>
              <div style="display: none;" class="ac-content"><iframe src="docs/sop/OTHH vMATS.pdf" width="100%"
                  height="1000px"></iframe></div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- FOOTER -->
    <footer id="footer">
      <div class="copyright-content text-background-dark background-dark">
        <div class="social-icons social-icons-medium social-icons-rounded social-icons-colored text-center">
          <ul>
            <li><a href="https://www.facebook.com/vACCBH" target="_blank"><i class="fab fa-facebook-f"
                  rel="noopener noreferrer"></i></a></li>
            <li><a href="https://twitter.com/vACCBH_" target="_blank"><i class="fab fa-twitter"
                  rel="noopener noreferrer"></i></a></li>
            <li><a href="https://www.instagram.com/vACCBH_" target="_blank" rel="noopener noreferrer"><i
                  class="fab fa-instagram"></i></a></li>
            <li><a href="https://discord.bahrainvacc.com" target="_blank" rel="noopener noreferrer"><i
                  class="fab fa-discord"></i></a></li>
          </ul>
        </div>
        <div class="copyright-text text-center">
          Copyright &copy; Bahrain vACC 2020. All Rights Reserved.
        </div>
        <div class="text-center" style="line-height: 1.5;">
          The Bahrain vACC is a <strong>virtual</strong> area control centre on the VATSIM network. The
          information on this website is not to be used in real operations and should only be used within the
          VATSIM network. The information on this website is made available without warranty of any kind.
        </div>
      </div>
    </footer>
    <!-- end: FOOTER -->

  </div>

</section>