.controllers {
  color: #f5faff;
  padding: 1rem 0 3rem 0;
}

.no-controllers {
  a {
    color: #8d1b3d;
    font-weight: 700;
  }
}

.heading {
  padding: 0 0 2rem 0;
}

.controllers-table {
  max-width: 1000px;
  margin: auto;
  padding-bottom: 2rem;
}

.thead-bh-purple {
  background-color: #8d1b3d;
}

.no-solo-controllers {
  padding: 0 0 2rem 0;
}